<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pinger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Pinger.Properties.Settings>
            <setting name="config_path" serializeAs="String">
                <value>.\Config.xml</value>
            </setting>
            <setting name="ping_retrys" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="poll_period" serializeAs="String">
                <value>40000</value>
            </setting>
        </Pinger.Properties.Settings>
    </userSettings>
</configuration>